<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.security.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.frame.security.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="realname" property="realname" />
        <result column="password" property="password" />
        <result column="createDate" property="createDate" />
        <result column="lastLoginTime" property="lastLoginTime" />
        <result column="enabled" property="enabled" />
        <result column="accountNonExpired" property="accountNonExpired" />
        <result column="accountNonLocked" property="accountNonLocked" />
        <result column="credentialsNonExpired" property="credentialsNonExpired" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, realname, password, createDate, lastLoginTime, enabled, accountNonExpired, accountNonLocked, credentialsNonExpired
    </sql>

</mapper>
